---
import Image from "astro/components/Image.astro"
import Button from "../components/Button.astro";
import ThemeCard from "../components/ThemeCard.astro";
import EpisodeCard from "../components/EpisodeCard.astro";
import Layout from "../layout/Layout.astro"
import NairobiMap from "../images/nairobi.png"
---

<Layout title="Home" description="Welcome to GeoHabari">
  <section class="container hero">
    <div class="hero-content">
      
      <h1 class="heading">
        Amplifying African tech stories & building tech brilliance.
      </h1>
      <div class="sub-heading">
        Catalysing spiritual, social and economic renewal in our immediate communities and as a result the world
      </div>
      <div class="cta-component">
        <Button>LISTEN NOW</Button>
        <div class="secondary-cta">
          <div class="spotify"></div>
          <div class="apple-pods"></div>
          <div class="pod-addict"></div>
        </div>
      </div>
    </div>
    <div class="hero-graphics">
      <Image
        src={NairobiMap}
        alt="Hero Graphics"
        width={600}
        height={400}
        class="hero-image"
      />
    </div>
  </section>
  <section class="container introduction">
    <h3 class="brief">
      Geohabari Podcast focuses on telling African tech stories by engaging the pioneers and jauganuts who have trodded the path.
    </h3>
    <h3 class="purpose">
      We talk to industry experts, designers, founders, aspiring professionals and students
    </h3>
    <h3 class="outro">
      Empowering the african genius in every space.
    </h3>
    <div class="img-strip">
      <Image
        src={NairobiMap}
        alt="Hero Graphics"
        width={400}
        height={400}
        class="hero-image"
      />
      <Image
        src={NairobiMap}
        alt="Hero Graphics"
        width={400}
        height={400}
        class="hero-image"
      />
      <Image
        src={NairobiMap}
        alt="Hero Graphics"
        width={400}
        height={400}
        class="hero-image"
      />
      <Image
        src={NairobiMap}
        alt="Hero Graphics"
        width={400}
        height={400}
        class="hero-image"
      />
    </div>
  </section>
  <section class="container topics">
    <div class="topics_heading">
      <h3>
        With conversations that cut across the board in ...
      </h3>
      <h5>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      </h5>
    </div>
    <div class="container_themes">
      <ThemeCard />
      <ThemeCard />
      <ThemeCard />
      <ThemeCard />
      <ThemeCard />
      <ThemeCard />
      <ThemeCard />
      <h3 class="theme_outro">
        And so much more ....
      </h3>
    </div>
  </section>
  <section class="container latestep">
    <div class="latestep_intro">
      <h2>New Episodes every week on Monday </h2>
      <h5>Here is this weeks episode, dive in and catch a glimpse of what we are all about ...</h5>
    </div>
    <div class="latestep_player">
      <div class="ep_details">
        <Image
          src={NairobiMap}
          alt="Episode Image"
          width={200}
          height={200}
          class="ep_image"
        />
        <div class="ep_info">
          <h6 class="ep_number">LATEST EPISODE #S2E04</h6>
          <h4 class="ep_title">The Space Economy Playbook</h4>
          <Button type="secondary">Go to Episode</Button>
        </div>
      </div>
      <div class="ep_player">
        <div class="progress"></div>
        <div class="play-pause"></div>
      </div>
    </div>
  </section>
  <section class="container nextep">
    <Image
      src={NairobiMap}
      alt="Next Episode Image"
      width={400}
      height={400}
      class="nextep_image"
    />
    <Image
      src={NairobiMap}
      alt="Next Episode Image"
      width={400}
      height={400}
      class="nextep_image"
    />
    <div class="host_profile">
      <Image
        src={NairobiMap}
        alt="Host Image"
        width={100}
        height={100}
        class="host_image"
      />
      <div class="host_info">
        <h4 class="host_name">Roy Waswa</h4>
        <h5 class="host_title">Host & Producer</h5>
      </div>
    </div>
    <div class="nextep_details">
      <h6 class="nextep_number">UP NEXT #S2E05</h6>
      <h5 class="nextep_title">
        The Young Professionals Segment: The Geospatial Journey No One Prepares You For.
      </h5>
      <h6 class="nextep_date">RELEASING ON: 26-05-2025</h6>
    </div>
    <div class="nextep_guests">
      <div class="guest_profile">
        <Image
          src={NairobiMap}
          alt="Guest Image"
          width={100}
          height={100}
          class="guest_image"
        />
        <div class="guest_info">
          <h4 class="guest_name">Guest Name</h4>
          <h5 class="guest_title">Guest Title</h5>
        </div>
      </div>
      <div class="guest_profile">
        <Image
          src={NairobiMap}
          alt="Guest Image"
          width={100}
          height={100}
          class="guest_image"
        />
        <div class="guest_info">
          <h4 class="guest_name">Guest Name</h4>
          <h5 class="guest_title">Guest Title</h5>
        </div>
      </div>
      <div class="guest_profile">
        <Image
          src={NairobiMap}
          alt="Guest Image"
          width={100}
          height={100}
          class="guest_image"
        />
        <div class="guest_info">
          <h4 class="guest_name">Guest Name</h4>
          <h5 class="guest_title">Guest Title</h5>
        </div>
      </div>
    </div>
  </section>
  <section class="container recenteps">
    <div class="recenteps_intro">
      <div class="intro_details">
        <h1>EPISODES</h1>
        <h5>
          From our archives for you to knock yourself out with or binge or share with someone you think would enjoy 
        </h5>
      </div>
      <div class="eps_navigation">
        <div class="nav_button prev">PREV</div>
        <div class="nav_button next">NEXT</div>
      </div>
    </div>
    <div class="recenteps_episodes">
      <EpisodeCard />
      <EpisodeCard />
      <EpisodeCard />
      <EpisodeCard />
      <EpisodeCard />
      <EpisodeCard />
    </div>
    <div class="recenteps_crumbs">
      <div class="crumb"></div>
      <div class="crumb"></div>
      <div class="crumb"></div>
      <div class="crumb"></div>
      <div class="crumb"></div>
      <div class="crumb"></div>
    </div>
  </section>
  <section class="container qupotes">
    <div class="quotes_intro">
      <h3 class="heading">
        Statements that reorganized our brain chemistry ... “
      </h3>
      <h6>
        "Don't ever underestimate the power of your words. Just one voice can change the hearts and minds of people." 
        <br/> <i>— Barack Obama</i>
      </h6>
      <div class="quotes_nav">
        <div class="nav_button prev">PREV</div>
        <div class="nav_button next">NEXT</div>
      </div>
    </div>
    <div class="contaier_quotes">
      <Image
        src={NairobiMap}
        alt="Quote Image"
        width={400}
        height={400}
        class="quote_image"
      />
      <Image
        src={NairobiMap}
        alt="Quote Image"
        width={400}
        height={400}
        class="quote_image"
      />
      <Image
        src={NairobiMap}
        alt="Quote Image"
        width={400}
        height={400}
        class="quote_image"
      />
      <Image
        src={NairobiMap}
        alt="Quote Image"
        width={400}
        height={400}
        class="quote_image"
      />
    </div>
  </section>
  <section class="container newsletters">
    <div class="newsletter_promt">
      <h1>
        WE ARE BUILDING A COMMUNITY ...
      </h1>
      <h3>
        And you can join countless others in this glorious purpose that is bigger than any one person by signing up for our newsletters and events.
      </h3>
    </div>
    <form action="POST" class="newsletter_form">
      <input type="text" placeholder="Enter your name" class="name_input" />
      <input type="text" placeholder="Enter your email address" class="email_input" />
      <Button type="primary">SUBSCRIBE</Button>
    </form>
  </section>
</Layout>

<script>
  import { gsap } from "gsap";
  import { SplitText } from "gsap/SplitText";
  gsap.registerPlugin(SplitText);

  document.addEventListener("DOMContentLoaded", () => {
    gsap.set(".heading", { opacity: 1 });

    let split;
    SplitText.create(".heading", {
      type: "words,lines",
      linesClass: "line",
      autoSplit: true,
      mask: "lines",
      onSplit: (self) => {
        split = gsap.from(self.lines, {
          duration: 1.2,
          yPercent: 100,
          opacity: 0.78,
          stagger: 0.1,
          ease: "expo.out",
        });
        return split;
      }
    });

  });

</script>
