---
import Image from "astro/components/Image.astro"
import Button from "../components/Button.astro";
import ThemeCard from "../components/ThemeCard.astro";
import EpisodeCard from "../components/EpisodeCard.astro";
import Layout from "../layout/Layout.astro"
import DarMap from "../images/cities/dar.svg"
import NairobiMap from "../images/cities/nairobi.svg"
import KampalaMap from "../images/cities/kampala.svg"
import PodcastAddictIcon from "../images/icons/podcast-addict.svg"
import PodcastPlayer from "../components/PodcastPlayer.jsx";
import AudioPlayer from "../components/AudioPlayer.astro";
import { RightArrow } from "../components/Icons";
import '../styles/home.scss';
import { getRecentEpisodes } from "../utils/buzzsprout.js";
import { contentfulClient } from "../utils/contentful";


const topics = [
  {
    title:"CAREER",
    description:"Navigate diverse career paths in the geospatial industry. Discussing pivotal moments, key learnings, and challenges, these episodes inspire you to explore new career horizons.",
    icon:"/themeIcons/icon_career.png",
    background:"https://images.unsplash.com/photo-1604145559206-e3bce0040e2d?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  },
  {
    title:"ACADEMIA",
    description:"Discover African organizations leading in geo-enabling and   other cutting-edge technologies. We dive into the  systems' components, from programming languages to seamless integrations, showcasing impactful use cases across the continent.",
    icon:"/themeIcons/icon_academia.png",
    background:"https://images.unsplash.com/photo-1643297654395-d6375d07215c?q=80&w=2032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  },
  {
    title:"STUDY ABROAD",
    description:"Scholarship recipients share their application tips and tricks, covering everything from requirements to living abroad. The ultimate starter pack for geospatial students looking to study overseas.",
    icon:"/themeIcons/icon_study.png",
    background:"https://images.unsplash.com/photo-1524850011238-e3d235c7d4c9?q=80&w=864&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  },
  {
    title:"BANTER",
    description:"Blend technical expertise with humor to humanize experiences in the tech world. Ideal for those looking for a light-hearted, tech-centric laugh.",
    icon:"/themeIcons/icon_banter.png",
    background:"https://images.unsplash.com/photo-1731475761027-0b6b33b74547?q=80&w=871&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  },
  {
    title:"SPACE",
    description:"Dive into Earth Observation (EO) use cases across various sectors. From technical tools and datasets to real-world applications and impacts, each episode offers a comprehensive look at EO's potential.",
    icon:"/themeIcons/icon_earth.png",
    background:"https://images.unsplash.com/photo-1454789548928-9efd52dc4031?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  },
  {
    title:"TECH",
    description:"Discover African organizations leading in geo-enabling and   other cutting-edge technologies. We dive into the  systems' components, from programming languages to seamless integrations, showcasing impactful use cases across the continent.",
    icon:"/themeIcons/icon_tech.png",
    background:"https://images.unsplash.com/photo-1586244346400-7ec57cda0c8b?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  },
  {
    title:"ACTION",
    description:"Explore how tech is used across Africa to drive change. Highlighting limitless possibilities, we showcase how GIS is leveraged for impactful solutions in different industries.",
    icon:"/themeIcons/icon_action.png",
    background:"https://images.unsplash.com/photo-1724085608136-579e66ac968d?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  },
]

const recentEpisodes = await getRecentEpisodes();
const latestEpisode = recentEpisodes[0] || {};
const quoteCards = await contentfulClient.getEntries({
  content_type: "episodeQuoteCards",
});
const nextEp = await contentfulClient.getEntries({
  content_type: "upcomingEpisode",
}).then(res => res.items[0])
const date = nextEp?.fields?.releaseDate ? new Date(nextEp.fields.releaseDate) : new Date()
const releaseDate = date.getDate().toString().padStart(2, '0') + "-" +
                  (date.getMonth() + 1).toString().padStart(2, '0') + "-" +
                  date.getFullYear()
const today = new Date();

---

<Layout title="Home" description="Welcome to GeoHabari">
  <section class="container hero">
    <div class="hero-content">
      <h1 class="heading">
        Amplifying African tech stories & elevating technical brilliance.
      </h1>
      <h4 class="sub-heading">
        Geohabari Podcast is a platform for us to tell our african tech stories for everyone from aspiring professionals to seasoned veterans . There is something for you ...
      </h4>
      <div class="cta-component">
        <a href="/episodes" class="cta-btn">
          <h5>LISTEN NOW</h5>
        </a>
        <div class="secondary-cta">
          <a href="https://open.spotify.com/show/5n3pUUtfdAdGS4d2hMz2yc?si=327dae6667fa4c5a" class="platform" target="_blank">
            <Image
              src="https://upload.wikimedia.org/wikipedia/commons/1/19/Spotify_logo_without_text.svg"
              alt="Hero Graphics"
              width={48}
              height={48}
              class="icon"
            />
            <small>Spotify</small>
          </a>
          <a href="https://podcasts.apple.com/ke/podcast/geohabari/id1747885525" class="platform" target="_blank">
            <Image
              src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Podcasts_%28iOS%29.svg"
              alt="Hero Graphics"
              width={48}
              height={48}
              class="icon"
            />
            <small>Apple Podcast</small>
          </a>
          <a href="https://podcastaddict.com/podcast/geohabari/5021923" class="platform" target="_blank">
            <Image
              src={PodcastAddictIcon}
              alt="Hero Graphics"
              width={48}
              height={48}
              class="icon"
            />
            <small>Podcast Addict</small>
          </a>
        </div>
      </div>
    </div>
    <div class="hero-graphics">
      <Image
        src={NairobiMap}
        alt="Hero Graphics"
        width={72}
        height={72}
        class="hero-image"
      />
      <Image
        src="https://images.unsplash.com/photo-1531123897727-8f129e1688ce?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Hero Graphics"
        width={72}
        height={72}
        class="hero-image"
      />
      <Image
        src="https://images.unsplash.com/photo-1654155427842-a4a249bf693e?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Hero Graphics"
        width={72}
        height={72}
        class="hero-image"
      />
      <Image
        src={KampalaMap}
        alt="Hero Graphics"
        width={72}
        height={72}
        class="hero-image"
      />
      
      <Image
        src="https://plus.unsplash.com/premium_photo-1708275672423-837db6d3d700?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2slMjBtYW4lMjBwb3J0cmFpdHxlbnwwfHwwfHx8MA%3D%3D"
        alt="Hero Graphics"
        width={72}
        height={72}
        class="hero-image"
      />
      <Image
        src="https://images.unsplash.com/photo-1530785602389-07594beb8b73?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Hero Graphics"
        width={72}
        height={72}
        class="hero-image"
      />
      <Image
        src={DarMap}
        alt="Hero Graphics"
        width={72}
        height={72}
        class="hero-image"
      />
    </div>
  </section>

  <section class="container introduction">
    <h3 class="brief">
      Geohabari Podcast focuses on telling African tech stories by engaging the pioneers and jauganuts who have trodded the path.
    </h3>
    <h3 class="purpose">
      We talk to industry experts, designers, founders, aspiring professionals and students
    </h3>
    <h3 class="outro">
      Empowering the african genius in every space.
    </h3>
    <div class="img-strip">
      <Image
        src="https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Hero Graphics"
        width={400}
        height={400}
        class="hero-image"
      />
      <Image
        src="https://plus.unsplash.com/premium_photo-1679756098899-8bb057b6acf6?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Hero Graphics"
        width={400}
        height={400}
        class="hero-image"
      />
      <Image
        src="https://plus.unsplash.com/premium_photo-1723489222201-7e86252e426a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8cGVvcGxlfGVufDB8MnwwfHx8MA%3D%3D"
        alt="Hero Graphics"
        width={400}
        height={400}
        class="hero-image"
      />
      <Image
        src="https://images.unsplash.com/photo-1652614347757-833f9dea4fa7?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Hero Graphics"
        width={400}
        height={400}
        class="hero-image"
      />
      <Image
        src="https://images.unsplash.com/photo-1649111986925-c050b3ccea70?q=80&w=823&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Hero Graphics"
        width={400}
        height={400}
        class="hero-image"
      />

    </div>
  </section>

  <section class="container topics">
    <div class="topics-heading">
      <h2>
        With conversations that cut across the board
      </h2>
      <h5>
        We have curated themes that resonate with our audience and reflect the diverse facets of the tech industry both in Kenya and Africa at large.
      </h5>
    </div>
    <div class="container-themes">
      {
        topics.map(topic => (
          <ThemeCard 
            title={topic.title}
            description={topic.description}
            icon={topic.icon}
            background={topic.background}
          />
        ))
      }
    </div>
  </section>

  <section class="container latestep">
    <div class="latestep_intro">
      <h2>New Episodes every other week on Monday</h2>
      <h5>Here is this week's episode, dive in and catch a glimpse of what we are all about ...</h5>
    </div>
    <div class="latestep_player">
      <AudioPlayer 
        audioUrl={latestEpisode.audio_url}
        title={latestEpisode.title || "The Space Economy Playbook"}
        episodeNumber={latestEpisode.season_number && latestEpisode.episode_number 
          ? `LATEST EPISODE #S${latestEpisode.season_number}E${latestEpisode.episode_number.toString().padStart(2, '0')}`
          : "LATEST EPISODE #S2E04"
        }
        coverImageUrl={latestEpisode.artwork_url || "https://placehold.co/240"}
        duration={latestEpisode.duration}
        autoLoad={true}
      />
      <div class="ep_actions">
        <a href={`/episodes#${latestEpisode.id}`} id="latestEpBtn" class="btn secondary">Go to Episode</a>
      </div>
    </div>
  </section>
  
  {
    nextEp?.fields?.releaseDate && nextEp.fields.releaseDate > today.toISOString() && (
        <section class="container nextep">
        <Image
          src={DarMap}
          alt="Next Episode Image"
          width={240}
          height={240}
          class="nextep_image left"
        />
        <Image
          src={KampalaMap}
          alt="Next Episode Image"
          width={240}
          height={240}
          class="nextep_image right"
        />
        <div class="host profile">
          <Image
            src={nextEp?.fields?.host?.fields.file.url}
            alt="Host Image"
            width={160}
            height={160}
            class="image profile"
          />
          <div class="info">
            <h4 class="name">{nextEp?.fields?.host?.fields?.title}</h4>
            <h5 class="title">Host</h5>
          </div>
        </div>
        <div class="nextep_details">
          <h6 class="nextep_number">UP NEXT</h6>
          <h5 class="nextep_title">
            {nextEp.fields.episodeTitle}
          </h5>
          <h6 class="nextep_date">RELEASING ON: {releaseDate}</h6>
        </div>
        <div class="nextep_guests">
          {
            nextEp?.fields?.guests?.map(guest => (
              <div class="guest profile">
                <Image
                  src={guest.fields.file.url}          
                  alt="Guest Image"
                  width={100}
                  height={100}
                  class="image"
                />
                <div class="info">
                  <h4 class="name">{guest.fields.title}</h4>
                  <h5 class="title">Guest</h5>
                </div>
              </div>
            ))
          }      
        </div>
      </section>

    )
  }

  <section class="container recenteps">
      <div class="recenteps_intro">
        <div class="intro_details">
          <h1>EPISODES</h1>
          <h5>
            From our archives for you to knock yourself out with or binge or share with someone you think would enjoy 
          </h5>
        </div>
        <div class="eps_navigation">
          <div class="nav_button prev">
            <RightArrow/>
          </div>
          <div class="nav_button next">
            <RightArrow/>
          </div>
        </div>
      </div>
      <div class="recenteps_episodes">
        {
          recentEpisodes.map((episode:any) => (
            <EpisodeCard
              title={episode.title}
              description={episode.description}
              image={episode.artwork_url}
              date={episode.published_at}
              episodeNumber={episode.episode_number}
              seasonNumber={episode.season_number}
              episodeId={episode.id}
              duration={episode.duration}
            />
          ))
        }
      </div>
      <div class="recenteps_crumbs">
        {/* Generate crumbs dynamically based on your data */}
        {Array.from({ length: Math.ceil(recentEpisodes.length / 1) }, (_, i) => (
          <div class={`crumb ${i === 0 ? 'active' : ''}`}></div>
        ))}
      </div>
  </section>

  <section class="container quotes">
    <div class="nav_button prev" id="prevBtn"><RightArrow/></div>
    <div class="carousel-wrapper">
      <div class="contaier-quotes" id="carouselTrack">
        {
          quoteCards.items.map(item => (
            <Image
              src={item.fields.quoteCard?.fields?.file?.url ?? 'https://placehold.co/400'}
              alt={item.fields.quoteCard?.fields?.title ?? 'Quote Card'}
              width={400}
              height={400}
              class="quote_image"
            />
          ))
        }
      </div>
    </div>
    <div class="nav_button next" id="nextBtn"><RightArrow/></div>
  </section>
  
  <section class="container newsletters">
    <div class="prompt">
      <h1>
        WE ARE BUILDING A COMMUNITY
      </h1>
      <h4>
        And you can join countless others in this glorious purpose that is bigger than any one person by signing up for our newsletters and events.
      </h4>
    </div>
    <form action="POST" class="newsletter" name="subscription">
      <h2>Welcome to Geohabari ...</h2>
      <div class="form-field">
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Enter your name" class="name_input" />
      </div>

      <div class="form-field">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Enter your email address" class="email_input" />
      </div>
      <button id="submitBtn" class="btn primary :disabled">SUBSCRIBE</button>
    </form>
  </section>
</Layout>

<script define:vars={{latestEpisode}} type="module" >
  import { navigate } from "astro:transitions/client";
  import { initializeAllCarousels } from "../utils/carousel.js"
  import { gsap } from "gsap";
  import { SplitText, Observer } from "gsap/all";
  gsap.registerPlugin(SplitText, Observer);
  initializeAllCarousels();



  document.addEventListener("DOMContentLoaded", () => {
    //Start Card Observer
    gsap.utils.toArray(".card-theme").forEach((card) => {
      if (!card) return;
      let imgbg = (card as HTMLElement).querySelector(".bg-image")
      let texts = (card as HTMLElement).querySelector(".theme-details")
      Observer.create({
        target: card as HTMLElement,
        type: "pointer",
        onHover: () => {
          gsap.to(card, {
            scale: 1.01,
            ease: "power1.in",
            duration: 0.2
          })
          gsap.to(imgbg, {
            filter: "blur(4px) brightness(0.8)",
            background: "rgba(191,160,230, 0.773)"
          })
          gsap.from(texts, {
            y:100,
          })
        },
        onHoverEnd: () => {
          gsap.to(card, {
            scale:1,
            ease: "power1.out",
            duration: 0.2
          })
          gsap.to(imgbg, {
            filter: "blur(0px) brightness(1)",
            background: "rgba(191,160,230, 0.773)"
          })
          gsap.fromTo(texts, {
            y:10,
            opacity:0.5
          }, {
            y:0,
            opacity:1
          })
        }
      })
    })
    // End Card Observer
    
    gsap.set(".heading", { opacity: 1 });

    let split;
    SplitText.create(".heading", {
      type: "words,lines",
      linesClass: "line",
      autoSplit: true,
      mask: "lines",
      onSplit: (self) => {
        split = gsap.from(self.lines, {
          duration: 1.2,
          yPercent: 100,
          opacity: 0.78,
          stagger: 0.1,
          ease: "expo.out",
        });
        return split;
      }
    });

    let timeline = gsap.timeline({
      defaults: { duration: 1.6, ease: "expo.out" },
    });

    timeline.from(".hero-content", {
      y: 100,
      opacity: 0,
      duration: 1.2,
      ease: "expo.out",
    });
    timeline.from(".hero-image", {
      x: -200,
      ease: "expo.out",
      duration: 1.2,
    }, "<");

    gsap.to(".img-strip", {
      scrollTrigger: {
        trigger: ".img-strip",
        start: "-200px 100px",
        end: "bottom 200px",
        scrub: true,
        markers: false,
      },
      x: `-100%`,
      ease: "power1",
    });


    // END OF GSAP ANIMATIONS

    // OTHER FUNCTIONS
    let cta_btn = document.querySelector(".cta-btn")
    cta_btn?.addEventListener("click", () => {
      navigate("/episodes")
    })

    // Mail Subscription
    const scriptURL = 'https://script.google.com/macros/s/AKfycbxIuL6LcFNe55Izy0n9aL1cA85_pYm6lSMEtS5QZJkZMZk2yJUmpHBlat3RRsl66d7W/exec'
    const form = document.forms['subscription']
    const field_name = document.querySelector("input#name") as HTMLInputElement
    const field_email = document.querySelector("input#email") as HTMLInputElement
    const submitBtn = document.querySelector("#submitBtn") as HTMLButtonElement


    form.addEventListener('submit', async (e) => {
      e.preventDefault()
      submitBtn.disabled = true
      submitBtn.textContent = "Processing ...";
      let sub_name = field_name?.value || ''
      let sub_email = field_email?.value || ''
      const formData = new FormData()
      formData.append("name", sub_name)
      formData.append("email",sub_email)
      fetch(scriptURL, { method: 'POST', body: formData})
        .then(response => {
          field_name.value = ''
          field_email.value = ''
          submitBtn.textContent = "SUBSCRIBE";
          submitBtn.disabled = false
          alert("Subscription successful. Welcome to Geohabari!")
        })
        .catch(error => {
          console.error('Error!', error.message)
          submitBtn.textContent = "SUBSCRIBE";
          submitBtn.disabled = false
          alert("An error occurred. Please try again.")
        })
    })

  });


  
</script>


